.section {
  padding: $base-spacing-unit 0;
}

.section--vcenter {
  height: 100vh;
  text-align: center;
  white-space: nowrap;

  &:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .content {
    display: inline-block;
    vertical-align: middle;
    white-space: initial;
  }
}
