@import './config/variables';
@import './config/mixins';
@import './core/reset';
@import './core/helpers';

html {
  background-color: $col-brand;
  height: 100%;
}

body {
  height: 100%;
  background-color: $col-brand;
  background: linear-gradient( 110deg, #0091E5, #E42149, #FFF146 );
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: linear-gradient(180deg, rgba(0,0,0,.3) 0%, $col-background-dark 100%);
}
